<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="conStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Admin\Documents\ItStep\HW\ProductCategoryCRUD\ProductCategoryCRUD\bin\Debug\ProductCategoryDB.mdf;Integrated Security=True;Connect Timeout=30"/>
	</connectionStrings>
</configuration>